﻿@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .reports-img-label {
        color: #396EB8;
        font-size: 23px;
        margin-left: 7px;
        margin-top: -4px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #396EB8;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #396EB8;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<body class="reports">
    <div style="display:flex;">
        <img src="~/image/4_Reports.svg" width="20" height="20" style="margin-right:4px" />
        <h4 class="reports-img-label">Reports</h4>


    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right; margin-bottom: 20px; background: #396EB8; margin-top: -30px; ">

        <img src="~/image/16_Filter.svg" width="20" height="20" />
    </button>
    <div class="mt-2">
        <table id="reportsTable" class="table" style="border: 1px solid #EBEBEB;">
            <thead class="border-bottom" style="color: #396EB8; background: #F5F5F6; ">
                <tr>

                    <th>Invoice ID</th>
                    <th>Scan Date</th>
                    <th>Vendor Number</th>
                    <th>Vendor Name</th>
                    <th>Invoice Number</th>
                    <th>Invoice Date</th>
                    <th>Invoice Total</th>
                    <th>
                        PO Number
                    </th>
                    <th>Uploaded By</th>
                    <th>Source</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID2345310</td>
                    <td>10/11/2021</td>
                    <td>(405)555-0128</td>
                    <td>LSG</td>
                    <td>IV334510</td>
                    <td>10/11/2021</td>
                    <td>$943.65</td>
                    <td> 65465741</td>
                    <td> Calpion</td>
                    <td>Source 1</td>
                    <td>Active</td>

                </tr>
                <tr>
                    <td>ID234539</td>
                    <td>9/11/2021</td>
                    <td>(316)555-0116</td>
                    <td>LSG</td>
                    <td>IV33459</td>
                    <td>9/11/2021</td>
                    <td>$275.43</td>
                    <td>65465742</td>
                    <td>Calpion</td>
                    <td>Source 2</td>
                    <td>Inactive</td>

                </tr>
            </tbody>
        </table>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 15px; color: #396EB8 ">Filter Reports</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lblstartDate" class="">Start Date:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="startDate" style="width:250px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lblendDate" class="">End Date:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="endDate" style="width:250px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lblstatus" class="">Status:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox" id="createStatus" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lblvendor" class="">Vendor:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtvendor" placeholder="LSG" style="width:250px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lblbotProcessed" class="">Bot-processed:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtbotProcessed" placeholder="Calpion User" style="width:250px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                    <button type="button" class="btn btn-primary" style="background-color: #396EB8; border-radius: 175px;color:#fff;">Save</button>

                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script type="text/javascript">
$(document).ready(function () {
$(".nav_list a").removeClass("active");
    $('.Reports').addClass('active');
});
    </script>
}