﻿@using Microsoft.AspNetCore.Http
@inject Hermes_UI.Service.MenuMasterService menus
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<MenuViewModel>
@{
    var isAuth = HttpContextAccessor.HttpContext.Session.GetString("IsAuthenticated");
    var token = HttpContextAccessor.HttpContext.Session.GetString("authtoken");
    var uname = HttpContextAccessor.HttpContext.Session.GetString("uname");
    var tenantName = HttpContextAccessor.HttpContext.Session.GetString("tenantName");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hermes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="~/css/now-ui-dashboard.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/layout.css" />
    <style>

        #nav-bar a:hover,
        body.tenant a.tenant,
        body.user a.user,
        body.manage a.manage,
        body.setting a.setting {
            background-color: #fff;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

            #nav-bar a:hover a,
            body.tenant a.tenant a,
            body.user a.user a,
            body.manage a.manage a,
            body.setting a.setting a {
                color: #BB5B2C;
                text-decoration: none;
            }
        a:hover {
            color: #BB5B2C;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #fff;
        }

            a:hover::before {
                content: '';
                position: absolute;
                left: 0;
                height: 40px;
            }
            a.active .nav_name, a:hover .nav_name, a:hover .nav_logo-name {
                color: #BB5B2C;
            }

        .img-active {
            display: none;
        }

        a.img-normal, a.active .img-active, .nav_link:hover .img-active {
            display: block;
        }
        a.img-active, a.active .img-normal, .nav_link:hover .img-normal {
            display: none;
        }

        a.img-active, a.active .img-normal, .nav_link:hover .img-normal {
            display: none;
        }

        .nav_link:hover {
            height: 40px
        }
        /* .icon-home {
            background-image: url("../image/1_Home white.svg");
            width: 24px;
            height: 26px;
        }

            .icon-home:hover {
                background-image: url("../image/1a_Home brown.svg");
                width: 24px;
               height: 26px;
            }*/



    </style>

</head>
<body id="body-pd">


    @*<div class="sidebar-layout" id="idSidenav">*@
    @*<input type="checkbox" id="nav-toggle">*@

    @if (isAuth == "true")
    {
    <header class="header" id="header">
        <div class="header_toggle">
            <img src="~/image/7_Left Nav (open).svg" id="header-toggle" />
        </div>
        <div class="m-4 dropdown">
            @if(uname.ToUpper().Equals("MANIKANDANSUPERADMIN@CALPION.COM"))
            {
            <a href="#" class="dropdown-toggle profile-label" data-bs-toggle="dropdown">@uname (Hermes)</a>
            }
            else
            {
            <a href="#" class="dropdown-toggle profile-label" data-bs-toggle="dropdown">@uname (@tenantName)</a>
            }

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#" class="dropdown-item">Change Password</a>
                </li>
            </ul>
        </div>
    </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav-sidebar">
                <div>
                    <a href="#" class="nav_logo"> <h2>H</h2> <span class="nav_logo-name">Hermès</span> </a>
                    <div class="nav_list">
                        <a href="#" class="nav_link"><img src="~/image/1_Home white.svg" class="img-normal" /> <img src="~/image/1a_Home brown.svg" class="img-active" /><span class="nav_name">Home</span> </a>

                        @foreach (var menu in await menus.GetMenuMaster(token))
                        {
                            <a asp-area="" asp-controller="@menu.Controller" asp-action="@menu.Action" class="nav_link @menu.Controller">
                                <img src="@Url.Content(String.Format("{0}", menu.Image))" class="img-normal">
                                <img src="@Url.Content(String.Format("{0}", menu.Alt))" class="img-active">
                                <span class="nav_name">@menu.MenuName</span>
                            </a>
                        }

                        @*<a asp-area="" asp-controller="Tenant" asp-action="Index" class="nav_link ">  <img src="~/image/1_Home white.svg" /> <span class="nav_name">Tenant</span> </a>
                            <a asp-area="" asp-controller="UserManagement" asp-action="Index" class="nav_link"><img src="~/image/2_User Management White.svg"><span class="nav_name">User Management</span></a>
                            <a href="#" class="nav_link"> <img src="~/image/3_Invoice Upload White.svg"> <span class="nav_name">Invoice Upload</span> </a>
                            <a asp-area="" asp-controller="ManageInvoice" asp-action="Index" class="nav_link"> <img src="~/image/4_Manage Invoice White.svg"> <span class="nav_name">Manage Invoice</span> </a>
                            <a href="#" class="nav_link"><img src="~/image/5_Reports White.svg"> <span class="nav_name">Reports</span> </a>
                            <a asp-area="" asp-controller="Settings" asp-action="Index" class="nav_link"><img src="~/image/6_Setting White.svg"> <span class="nav_name">Settings</span> </a>
                            <a href="#" class="nav_link"> <img src="~/image/7_Rule Engine White.svg"> <span class="nav_name">Rule Engine</span> </a>*@

                    </div>
                </div>
                <a asp-area="" asp-controller="Login" asp-action="Logout" class="nav_link">
                    <img src="~/image/2_Logout white.svg" class="img-normal">
                    <img src="~/image/1_Logout color.svg" class="img-active">
                    <span class="nav_name">Sign Out</span>
                </a>
            </nav>
        </div>


        @*<div class="sidebar-layout" id="idSidenav">
                <div class="sidebar-brand border-bottom">
                    <center><h2>Hermès</h2></center>
                </div>
                <div class="sidebar-menu">
                    <ul>

                        @foreach (var menu in await menus.GetMenuMaster(token))
                        {
                            <li class="list">
                                <a asp-area="" asp-controller="@menu.Controller" asp-action="@menu.Action">
                                    <span class="icon"> <img src="@Url.Content(String.Format("{0}", menu.Image))" class="@menu.Class" alt="@Url.Content(String.Format("{0}", menu.Alt))" width="24" height="24" /></span>
                                    <span class="title">@menu.MenuName</span>
                                </a>
                            </li>
                        }


                        <li class="list">
                            <a asp-area="" asp-controller="Login" asp-action="Logout">
                                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="title">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
        @*<div class="main-content">
                <header>
                    <h3>
                        <label for="nav-toggle">
                            <span class="las la-bars"></span>
                        </label>
                        Dashboard
                    </h3>
                </header>
            </div>*@
        @*<div class="topbar-layout" id="topbar" style="margin-left: 290px; margin-top: 0px">
                <header style=" ">
                    <h1 style="display:flex">
                        <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>

                    </h1>
                    <div class="user-wrapper" style=" display: flex; float:right;">
                        <span>superadmin@calpion.com</span>
                    </div>
                </header>

            </div>*@
    }

    <div class="height-100" id="cntainer" style="margin-top:80px ">
        <main role="main" class="pb-3">
            <div style="padding-top:0px;">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="footer" id="footer">
        <div class="footer-label">
            <center>
                Powered by
                <img src="~/image/15_Drop logo.svg" height="20" />
            </center>
        </div>
    </footer>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Hermes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<script src="jquery-1.7.2.min.js"></script>*@
    <script>

        //$(document).ready(function () {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
        };
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
        //});

        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon

                        toggle.classList.toggle('bx-x')
                        /*toggle.classList.toggle('< img src = "/image/7_Left Nav (close).svg" />')*/
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready

        });


                            //function openNav() {
                            //    if (document.getElementById("idSidenav").style.width == "290px") {
                            //        document.getElementById("idSidenav").style.width = "70px";

                            //        document.getElementById("cntainer").style.marginLeft = "80px";
                            //        document.getElementById("topbar").style.marginLeft = "70px";

                            //    } else {
                            //        document.getElementById("idSidenav").style.width = "290px";
                            //        document.getElementById("cntainer").style.marginLeft = "290px";

                            //        document.getElementById("topbar").style.marginLeft = "290px";
                            //    }

                            //}


                            //let menuToggle = document.querySelector('.toggle');
                            //let navigation = document.querySelector('.sidebar-layout')
                            //menuToggle.onclick = function () {
                            //    menuToggle.classList.toggle('active');
                            //    navigation.classList.toggle('active');
                            //}
                            //let list = document.querySelectorAll('.list');
                            //for (let i = 0; i < list.length; i++) {

                            //    list[i].onclick = function () {
                            //        let j = 0;
                            //        while (j < list.length) {
                            //            list[j++].className = 'list';
                            //        }
                            //        list[i].className = 'list active';

                            //    }
                           //}

                            //function closeNav() {

                            //}
    </script>

    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css />
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css />
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
