﻿@{
    ViewData["Title"] = "Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<style>
    * {
        font-family: Roboto;
        font-style: normal;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<body class="tenant">
    <p>
        <button type="button" class="btn btn-default" id="newtenant" style="float: right; margin-bottom: 20px; background: #396EB8; border-radius: 175px;color:#fff; margin-right:90px"> Add New </button>
    </p>
    <div class="">

        <div style="display:flex;">
            <img src="~/image/1_Manage Tenants.svg" width="20" height="20" style="margin-right:4px" />
            <h4 style="color: #396EB8; font-size: 23px; margin-left: 7px; margin-top: -4px; ">Manage Tenants</h4>
        </div>
        <table id="gridTenant" class="table table-striped table-bordered" style="width: 99%; border: 1px solid #EBEBEB;">
            <thead class="border-bottom" style="color: #396EB8; background: #F5F5F6; ">
                <tr>


                    <th>Tenant ID</th>
                    <th>Tenant Name</th>
                    <th>Status</th>
                    <th>Created On</th>
                    @*<th>Last Updated On</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="output">
                <!--<tr>-->
                @*<td>10</td>
                    <td>LSG</td>
                    <td>Active</td>
                    <td>10/12/2021</td>
                    <td>11/12/2021</td>*@

                <!--</tr>-->
            </tbody>
        </table>
        @*<nav aria-label="Page navigation example" style="width: 99%;">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>*@
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="">
                <div class="modal-header">
                    <h5><span style="margin-left:15px">Create Tenant</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Tenant Name:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="createtenantName" style="width:250px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Status:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox" id="createStatus" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                        <button type="button" class="btn btn-default" onclick="SaveTenant()" id="CreateTenant" style="background-color: #396EB8; border-radius: 175px;color:#fff;">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteUser" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="">
                <div class="modal-header">
                    <h5><span style="margin-left: 15px; color: #396EB8">Remove User</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete
                    this user
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #396EB8; border-radius: 175px; color: #fff;">Yes</button>
                    <button type="button" class="btn btn-default" id="PostTenant" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editUser" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="">
                <div class="modal-header">
                    <h5><span style="margin-left: 15px; color: #396EB8">Edit Tenant</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Tenant Name:</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="tenantName" style="width:250px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Status:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox" id="isActive">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #396EB8; border-radius: 175px; color: #fff;">Close</button>
                    <button type="button" class="btn btn-default" onclick="UpdateTenant()" id="UpdateTenant" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Update</button>
                </div>
            </div>

        </div>
    </div>
</body>



@*<script src="~/js/tenant.js"></script>*@
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></script>
    <script src="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    @*<script src="~/js/tenant.js"></script>*@

    <script type="text/javascript">
        alert('1');
        $('#newtenant').click(function NewTenant() {
            $("#myModal").modal("show");
        });
        $('#delete').click(function Delete() {
            $("#deleteUser").modal("show");
        });
        //$('#edit').click(function EditUser() {
        //    $("#editUser").modal("show");
        //});
    function redirectToLogin() {
        var url = '@Url.Action("Index", "Login")';
        window.location.href = url;
    }

        //$('#gridTenant').DataTable({
        //    "processing": true,
        //    //"ajax": {
        //    //    "url": "https://localhost:44311/api/Tenant/GetAllTenant",
        //    //    //"headers": { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
        //    //    "type": "POST",
        //    //    "contentType": "application/json",
        //    //    "datatype": "json",

        //    //    success: function (d) {
        //    //        /*$('#AjaxLoader').hide();*/

        //    //        return JSON.stringify(d.results);
        //    //    }
        //    //},
        //    "ajax": {
        //        type: 'GET',
        //        url: "https://localhost:44311/api/Tenant/GetAllTenant",
        //        contentType: 'application/json; charset=utf-8',
        //        headers: {
        //            "Authorization": 'Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6Im1hbmlrYW5kYW5AY2FscGlvbi5jb20iLCJuYmYiOjE2Mzg0Mjc4ODUsImV4cCI6MTYzODQzNTA4NSwiaWF0IjoxNjM4NDI3ODg1fQ.k6_PwxyypESgBB5utJ4Ywvc_vCEvtEnM-11jkcOJQ1Y",
        //        },
        //        dataType: "json",
        //        success: function (resultData) {
        //            if (resultData.isValid) {
        //                ////var edt = "EditTenant(" + '"' + i.tenantId + '"' + ")";
        //                //$("#PostTenant").val('Update');
        //                //let output = resultData.results.map(i => "<tr><td>" + i.tenantId + "</td><td>" + i.tenantName + "</td><td>" + i.isActive + "</td><td>" + i.createdOn + "</td>"
        //                //    + "<td><button type='button' class='btn btn-default' onclick='" + "EditTenant(" + '"' + i.tenantId + '"' + ")" + "' width='20' height='20' style='background: #396EB8'><img src='~/image/11_Edit.svg' width='20' height='20' /></button>"
        //                //    //+ "<button type='button' class='btn btn-default' id='delete' width='20' height='20' style='background:red; margin-left:4px'><img src='~/image/delete.svg' /></button></td>"
        //                //    + "</td></tr > ");

        //                //$("#output").html(output);
        //                return JSON.stringify(resultData.results);
        //            }

        //        }
        //    },
        //    "columns":
        //        [{ "data": "tenantId", "name": "tenantId" },
        //            { "data": "tenantName", "name": "tenantName" },
        //            { "data": "isActive", "name": "isActive" },
        //            { "data": "createdOn", "name": "createdOn" },
        //            //{ "data": "creadedby", "name": "creadedby" }
        //        ]

        //});
        getAllTenants();

        function getAllTenants() {
            $.ajax({
                type: 'GET',
                url: "https://localhost:44311/api/Tenant/GetAllTenant",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        //var edt = "EditTenant(" + '"' + i.tenantId + '"' + ")";
                        $("#PostTenant").val('Update');
                        let output = resultData.results.map(i => "<tr><td>" + i.tenantId + "</td><td>" + i.tenantName + "</td><td>" + i.isActive + "</td><td>" + i.createdOn + "</td>"
                            + "<td><button type='button' class='btn btn-default' onclick='" + "EditTenant(" + '"' + i.tenantId + '"' + ")" + "' width='20' height='20' style='background: #396EB8'><img src='~/image/11_Edit.svg' width='20' height='20' /></button>"
                            //+ "<button type='button' class='btn btn-default' id='delete' width='20' height='20' style='background:red; margin-left:4px'><img src='~/image/delete.svg' /></button></td>"
                            + "</td></tr > ");

                        $("#output").html(output);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                    redirectToLogin();
                }
            });
        }

        function SaveTenant() {

            var params = {
                'action': 'Add',
                'tenantName': $('#createtenantName').val(),
                'isActive': $('#createStatus').is(':checked')
            }

            $.ajax({
                type: 'POST',
                url: "https://localhost:44311/api/Tenant/CreateTenant",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(params),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        alert("Save Complete");
                        $("#myModal").modal("hide");
                        getAllTenants();
                    } else {
                        alert(resultData.resultSetErrors[0].errorMessage);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);

                }
            });
        };

        function UpdateTenant() {

            var params = {
                'action': 'Update',
                'tenantName': $('#tenantName').val(),
                'tenantId': $("#UpdateTenant").val(),
                'isActive': $('#isActive').is(':checked')
            }

            $.ajax({
                type: 'PUT',
                url: "https://localhost:44311/api/Tenant/UpdateTenant",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(params),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        alert("Update Complete");
                        $("#editUser").modal("hide");
                        getAllTenants();
                    } else {
                        alert(resultData.resultSetErrors[0].errorMessage);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                }
            });
        };

        function EditTenant(id) {
            console.log(id);
            var input = {
                'tenantId': id.toString()
            }

            $.ajax({
                type: 'GET',
                url: "https://localhost:44311/api/Tenant/GetTenantById",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: input,
                dataType: "json",
                success: function (resultData) {


                    $("#UpdateTenant").prop('value', resultData.results[0].tenantId);
                    $("#tenantName").val(resultData.results[0].tenantName);
                    $("#isActive").attr('checked', resultData.results[0].isActive);
                    $("#editUser").modal("show");
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                }
            });

        };

    </script>

}
