﻿@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="setting">
    <div style="display:flex;">
        <img src="~/image/6_Setting.svg" /><label class="setting-img-label">Settings</label>
    </div>
    <div>
        <div class="row" style="margin-top:20px;">
            <div class="col-xl-4">
                <label class="radio-btn-label">
                    <input type="radio" id="rdbtnMenu" name="colorRadio" class="radio-btn-input" value="first" checked />
                    &nbsp;&nbsp;Module Access Setting
                </label>
            </div>
            <div class="col-xl-3">
                <label class="radio-btn-label">
                    <input type="radio" name="colorRadio" class="radio-btn-input" value="second" />&nbsp;&nbsp;Field Setting
                </label>
            </div>
            <div class="col-xl-4">
                <label class="radio-btn-label">
                    <input type="radio" name="colorRadio" class="radio-btn-input" value="third" />&nbsp;&nbsp;Invoice Workflow Setting
                </label>
            </div>


        </div>
        <div class="first box">
            <form>
                <div class="">


                    <div>
                        <div class="accordion-body">
                            <div class="accordion">
                                <div class="container">
                                    <div class="label">User Management</div>
                                    <div class="content" style="width:100%">
                                        <div class="my-4 mx-4">
                                            <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll1">Select All</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="usermanagement" class="checkboxes1" value="f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" id="3_f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd">Admin</label><br>
                                            @*<label class="checkbox-label"><input type="checkbox" name="usermanagement" class="checkboxes1" value="ab7d101f-cc79-4c2b-a24e-b7b23108504c" id="3_ab7d101f-cc79-4c2b-a24e-b7b23108504c">Operator</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="usermanagement" class="checkboxes1" value="917f8138-fcdc-46f5-b598-2318c9cefb85" id="3_917f8138-fcdc-46f5-b598-2318c9cefb85">Auditor</label><br>*@
                                            @*<label class="checkbox-label"><input type="checkbox" name="usermanagement" class="checkboxes1" value="4">Client Admin </label><br>*@
                                        </div>
                                    </div>
                                </div>

                                @*<div class="container">
                                        <div class="label">Invoice Upload</div>
                                        <div class="content">
                                            <div class="my-4 mx-4">
                                                <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll">Select All</label> <br>
                                                <label class="checkbox-label"><input type="checkbox" name="customer" class="checkboxes" value="1">Operator </label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="customer" class="checkboxes" value="2">Auditor</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="customer" class="checkboxes" value="3">Client User </label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="customer" class="checkboxes" value="4">Client Admin </label><br>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="container">
                                    <div class="label">Manage Invoice</div>
                                    <div class="content" style="width:100%">
                                        <div class="my-4 mx-4">
                                            <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll2">Select All </label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="manageinvoice" class="checkboxes2" value="f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" id="4_f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd">Admin </label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="manageinvoice" class="checkboxes2" value="ab7d101f-cc79-4c2b-a24e-b7b23108504c" id="4_ab7d101f-cc79-4c2b-a24e-b7b23108504c">Operator</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="manageinvoice" class="checkboxes2" value="917f8138-fcdc-46f5-b598-2318c9cefb85" id="4_917f8138-fcdc-46f5-b598-2318c9cefb85">Auditor</label><br>
                                            @*<label class="checkbox-label"><input type="checkbox" name="manageinvoice" class="checkboxes2" value="4">Client Admin </label><br>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="label">Reports</div>
                                    <div class="content" style="width:100%">
                                        <div class="my-4 mx-4">
                                            <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll3">Select All </label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="reports" class="checkboxes3" value="f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" id="5_f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd">Admin</label> <br>
                                            <label class="checkbox-label"><input type="checkbox" name="reports" class="checkboxes3" value="ab7d101f-cc79-4c2b-a24e-b7b23108504c" id="5_ab7d101f-cc79-4c2b-a24e-b7b23108504c">Operator</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="reports" class="checkboxes3" value="917f8138-fcdc-46f5-b598-2318c9cefb85" id="5_917f8138-fcdc-46f5-b598-2318c9cefb85">Auditor</label><br>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="label">Settings</div>
                                    <div class="content" style="width:100%">
                                        <div class="my-4 mx-4">
                                            <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll4" checked disabled>Select All</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="settings" class="checkboxes4" value="f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" id="6_f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" checked disabled>Admin</label> <br>
                                            @*<label class="checkbox-label"><input type="checkbox" name="settings" class="checkboxes4" value="ab7d101f-cc79-4c2b-a24e-b7b23108504c" id="6_ab7d101f-cc79-4c2b-a24e-b7b23108504c">Operator</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="settings" class="checkboxes4" value="917f8138-fcdc-46f5-b598-2318c9cefb85" id="6_917f8138-fcdc-46f5-b598-2318c9cefb85">Auditor</label><br>*@
                                            @*<label class="checkbox-label"><input type="checkbox" name="settings" class="checkboxes4" value="4">Client Admin </label><br>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="label">Rule Engine</div>
                                    <div class="content" style="width:100%">
                                        <div class="my-4 mx-4">
                                            <label class="checkbox-label"><input type="checkbox" name="checkAll" class="checkAll5">Select All </label><br>
                                            <label class="checkbox-label"> <input type="checkbox" name="ruleengine" class="checkboxes5" value="f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd" id="7_f3e27dcc-242f-4c8a-8dff-c2c46b6f5dcd">Admin</label><br>
                                            @*<label class="checkbox-label"><input type="checkbox" name="ruleengine" class="checkboxes5" value="ab7d101f-cc79-4c2b-a24e-b7b23108504c" id="7_ab7d101f-cc79-4c2b-a24e-b7b23108504c">Operator</label><br>
                                            <label class="checkbox-label"><input type="checkbox" name="ruleengine" class="checkboxes5" value="917f8138-fcdc-46f5-b598-2318c9cefb85" id="7_917f8138-fcdc-46f5-b598-2318c9cefb85">Auditor</label><br>*@
                                            @*<label class="checkbox-label"><input type="checkbox" name="ruleengine" class="checkboxes5" value="4">Client Admin </label><br>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
                <div class="my-2" style="float:right; ">
                    <button type="button" class="btn btn-submit" id="btnMenuSubmit" style=" background-color: #396EB8; border-radius: 175px; color: #fff;">Submit</button>
                    <button type="button" class="btn btn-cancel" id="btnMenuCancel" style=" background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>

                </div>
            </form>

        </div>
        <div class="second box">
            <form>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Standard Fields</a></li>
                                    <li role="presentation"><a href="#Section2" aria-controls="line" role="tab" data-toggle="tab">Line Items Field</a></li>
                                    <li role="presentation"><a href="#Section3" aria-controls="custom" role="tab" data-toggle="tab">Custom Fields</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabs">
                                    <div role="tabpanel" class="tab-pane fade show active" id="Section1" style="width:auto">



                                        <label class="checkbox-label mt-1" style="background: #FAFAFA; border: 1px solid rgba(48, 55, 80, 0.15); box-sizing: border-box; border-radius: 50px;">
                                            <input type="checkbox" name="customer" class="checkboxes" checked value="1" disabled="disabled" readonly>Standard Fields<br>
                                        </label>
                                        <div class="row my-4">
                                            <div class="col-4">
                                                <span class="field-setting-label">Invoice Name:</span>
                                                <span class="field-setting-value">Invoice 1</span>



                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Invoice Number:</span>
                                                <span class="field-setting-value">676254728</span>



                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Invoice Date:</span>
                                                <span class="field-setting-value">11/10/2021</span>



                                            </div>
                                        </div>
                                        <div class="row my-4">
                                            <div class="col-4">
                                                <span class="field-setting-label">Tax:</span>
                                                <span class="field-setting-value">132-452-333333</span>
                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Po Number :</span>
                                                <span class="field-setting-value">887656545</span>
                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Currency :</span>
                                                <span class="field-setting-value">US Dollars</span>
                                            </div>
                                        </div>
                                        <div class="my-4">
                                            <span class="field-setting-label">Total :</span>
                                            <span class="field-setting-value">$ 23,000.00</span>
                                        </div>
                                        <div class="row my-4">
                                            <div class="col-4">
                                                <span class="field-setting-label">Ship to Address:</span>
                                                <span class="field-setting-value">
                                                    Iris Watson
                                                    P.O. Box 283 8562 Fusce Rd.
                                                    Frederick Nebraska 20620
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Remit To Address:</span>
                                                <span class="field-setting-value">
                                                    Iris Watson
                                                    P.O. Box 283 8562 Fusce Rd.
                                                    Frederick Nebraska 20620
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <span class="field-setting-label">Bill To Address:</span>
                                                <span class="field-setting-value">
                                                    Iris Watson
                                                    P.O. Box 283 8562 Fusce Rd.
                                                    Frederick Nebraska 20620
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                                        
                                            <div class="tab-box">
                                                <label class="checkbox-label mt-1"><input type="checkbox" name="checkAllLineItems" id="lnItms_18" value="18" class="checkAll_LineItems">Line Items</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="LineItems" id="lnItms_13" class="checkboxes_LineItems" value="13" disabled>Product/Description</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="LineItems" id="lnItms_14" class="checkboxes_LineItems" value="14" disabled>UM</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="LineItems" id="lnItms_15" class="checkboxes_LineItems" value="15" disabled>Qty</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="LineItems" id="lnItms_16" class="checkboxes_LineItems" value="16" disabled>Unit Price</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="LineItems" id="lnItms_17" class="checkboxes_LineItems" value="17" disabled>Total Price</label><br>
                                            </div>
                                            @*<div class="mt-5" style="float:right">
                                                    <button type="button" class="btn btn-default btn-submit" id="PostTenant" style=" background-color: #396EB8; border-radius: 175px; color: #fff;">Submit</button>
                                                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" style=" background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>



                                                </div>*@
                                        
                                    </div>
                                    <div id="Section3" class="tab-pane fade" role="tabpanel" >
                                       
                                            <div class="tab-box">
                                                <label class="checkbox-label mt-1"><input type="checkbox" name="checkAllCustom" class="checkAll_custom">Select All</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="customfields" class="checkbox_custom" value="2">MSC Code</label><br>
                                                <label class="checkbox-label"><input type="checkbox" name="customfields" class="checkbox_custom" value="3">Tail Number</label><br>
                                            </div>                                                                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-2" style="float:right; ">
                    <button type="button" class="btn btn-submit" id="btnFieldSettingSubmit" style=" background-color: #396EB8; border-radius: 175px; color: #fff;">Submit</button>
                    <button type="button" class="btn btn-cancel" id="btnFieldSettingCancel" style=" background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>

                </div>
            </form>

        </div>
        <div class="third box">
            <form>
                <div class="tab-box">
                    <div class="custom-checkbox">
                        <label class="checkbox-label my-1 mt-2 mx-auto">
                            Custom Field
                        </label>
                    </div>
                    <h5 class="my-2">Flag for Priority invoices</h5>
                    <div class="row my-1">
                        <div class="col-6">
                            <label class="checkbox-label my-1"><input type="checkbox" name="customer" class="checkboxes" value="1">Keyword Based</label><br>
                        </div>
                        <div class="col-6">
                            <label class="field-label">Keywords:</label>
                            <input type="text" class="keyword" placeholder="Keywords:" />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-6">
                            <label class="checkbox-label my-1"><input type="checkbox" name="customer" class="checkboxes" value="2">Vendor Based</label> <br>
                        </div>
                        <div class="col-6">
                            <label class="field-label">Vendors:</label>
                            <select class="vendor" placeholder="Select Components" style="height: 30px; width: 250px;">
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-6">
                            <label class="checkbox-label my-1"><input type="checkbox" name="customer" class="checkboxes" value="3">By Invoice Due Date</label><br>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-6">
                            <label class="checkbox-label my-1"><input type="checkbox" name="customer" class="checkboxes" value="4">TAT Alert</label><br>
                        </div>
                        <div class="col-6">
                            <label class="field-label">TAT duration:</label>
                            <input type="text" class="duration" placeholder="In Hours" />
                        </div>
                    </div>
                </div>
                @*<div class="mt-5" style="float:right; margin-right:150px;">
                        <button type="button" class="btn btn-default btn-submit" id="submit" style=" background-color: #396EB8; border-radius: 175px; color: #fff;">Submit</button>
                        <button type="button" class="btn btn-default btn-cancel" id="cancel" style=" background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>

                    </div>*@
            </form>

        </div>

    </div>
</body>

<link rel="stylesheet" href="~/css/settings.css" />

@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".nav_list a").removeClass("active");
            $('.Settings').addClass('active');
        });
        function successNotification(msg) {
            toastr.options.progressBar = true;
            toastr.options.positionClass = "toast-top-center";
            toastr.options.extendedTimeOut = "10000";
            toastr.success(msg, 'Success!');
        }
        function failureNotification(msg) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error(msg);
        }
        $(document).ready(function () {
            initial();
            function initial() {
                var targetBox = $(".first");
                $(".box").not(targetBox).hide();
                $(targetBox).show();
                initialLoadControls();
            }
            function initialLoadControls() {
                @*var input = {
                    'tenantId': '@ViewData["tenant"]'
                }*@
                $.ajax({
                    type: 'GET',
                    url: "https://localhost:44311/api/Settings/GetFieldSettings",
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    data: { 'tenantId': '@ViewData["tenant"]' },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.isValid && resultData.results.length > 0 && resultData.results[0].menuSettingsDTO.length > 0) {
                            $.each(resultData.results[0].menuSettingsDTO, function (i, currProgram) {

                                $("#" + currProgram.menuId + "_" + currProgram.roleId).attr('checked', true);
                            });
                            $.each(resultData.results[0].fieldSettingsDTO, function (i, currProgram) {

                                $("#lnItms_" + currProgram.fieldId).attr('checked', true);
                                $(".checkboxes_LineItems").prop("checked", true);
                            });


                        } else {
                            alert(resultData.resultSetErrors[0].errorMessage);
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText + "--" + status + "--" + error);

                    }
                });
            }
            const accordion = document.getElementsByClassName('container');
            for (i = 0; i < accordion.length; i++) {
                accordion[i].addEventListener('click', function () {
                    this.classList.toggle('active')
                })
            }

            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".box").not(targetBox).hide();
                $(targetBox).show();
            });

            $("#btnMenuCancel").click(function () {
                initialLoadControls();
            });

            $("#btnMenuSubmit").click(function () {
                jsonObj = [];

                $('input[name="usermanagement"]:checked').each(function () {
                    item = {}
                    item['menuId'] = 3;
                    item['roleId'] = this.value;
                    item['tenantId'] = '@ViewData["tenant"]';
                    jsonObj.push(item);

                });
                $('input[name="manageinvoice"]:checked').each(function () {
                    item = {}
                    item['menuId'] = 4;
                    item['roleId'] = this.value;
                    item['tenantId'] = '@ViewData["tenant"]';
                    jsonObj.push(item);
                });
                $('input[name="reports"]:checked').each(function () {
                    item = {}
                    item['menuId'] = 5;
                    item['roleId'] = this.value;
                    item['tenantId'] = '@ViewData["tenant"]';
                    jsonObj.push(item);
                });
                $('input[name="settings"]:checked').each(function () {
                    item = {}
                    item['menuId'] = 6;
                    item['roleId'] = this.value;
                    item['tenantId'] = '@ViewData["tenant"]';
                    jsonObj.push(item);
                });
                $('input[name="ruleengine"]:checked').each(function () {
                    item = {}
                    item['menuId'] = 7;
                    item['roleId'] = this.value;
                    item['tenantId'] = '@ViewData["tenant"]';
                    jsonObj.push(item);
                });
                var params = {
                    'menuSetting': jsonObj
                };

                $.ajax({
                    type: 'POST',
                    url: "https://localhost:44311/api/Settings/SaveMenuSettings",
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    data: JSON.stringify(jsonObj),
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.isValid) {                            
                            window.location.reload();
                            successNotification("Module Access Settings saved Successfully!!!");

                        } else {
                            //alert(resultData.resultSetErrors[0].errorMessage);
                            failureNotification(resultData.resultSetErrors[0].errorMessage);
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText + "--" + status + "--" + error);

                    }
                });

            });

            $("#btnFieldSettingSubmit").click(function () {
                jsonObj = [];

                /*$('input[name="checkAllLineItems"]:checked').each(function () {*/
                item = {};
                if ($("#lnItms_18").is(":checked")) {
                    item['fieldId'] = $('input[name="checkAllLineItems"]').val();
                } else {
                    item['fieldId'] = 0;
                }
                
                item['tenantId'] = '@ViewData["tenant"]';
                jsonObj.push(item);

                //});
                $.ajax({
                    type: 'POST',
                    url: "https://localhost:44311/api/Settings/SaveFieldSettings",
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    data: JSON.stringify(jsonObj),
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.isValid) {
                            successNotification("Field Settings saved Successfully!!!");

                        } else {
                            /*alert(resultData.resultSetErrors[0].errorMessage);*/
                            failureNotification("Failed to save Field Settings");
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText + "--" + status + "--" + error);

                    }
                });

            });

        });
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }

        $(function () {
            $(".checkboxes_LineItems").click(function () {
                var numberOfCheckboxes = $(".checkboxes_LineItems").length;
                var numberOfCheckboxesChecked = $('.checkboxes_LineItems:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll_LineItems").prop("checked", true);
                } else {
                    $(".checkAll_LineItems").prop("checked", false);
                }
            });
            $('.checkAll_LineItems').click(function () {
                if (this.checked) {
                    $(".checkboxes_LineItems").prop("checked", true);
                } else {
                    $(".checkboxes_LineItems").prop("checked", false);
                }
            });
            $('.checkAll1').click(function () {
                if (this.checked) {
                    $(".checkboxes1").prop("checked", true);
                } else {
                    $(".checkboxes1").prop("checked", false);
                }
            });
            $('.checkAll2').click(function () {
                if (this.checked) {
                    $(".checkboxes2").prop("checked", true);
                } else {
                    $(".checkboxes2").prop("checked", false);
                }
            });
            $('.checkAll3').click(function () {
                if (this.checked) {
                    $(".checkboxes3").prop("checked", true);
                } else {
                    $(".checkboxes3").prop("checked", false);
                }
            });
            $('.checkAll4').click(function () {
                if (this.checked) {
                    $(".checkboxes4").prop("checked", true);
                } else {
                    $(".checkboxes4").prop("checked", false);
                }
            });
            $('.checkAll5').click(function () {
                if (this.checked) {
                    $(".checkboxes5").prop("checked", true);
                } else {
                    $(".checkboxes5").prop("checked", false);
                }
            });
            $(".checkboxes1").click(function () {
                var numberOfCheckboxes = $(".checkboxes1").length;
                var numberOfCheckboxesChecked = $('.checkboxes1:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll1").prop("checked", true);
                } else {
                    $(".checkAll1").prop("checked", false);
                }
            });
            $(".checkboxes2").click(function () {
                var numberOfCheckboxes = $(".checkboxes2").length;
                var numberOfCheckboxesChecked = $('.checkboxes2:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll2").prop("checked", true);
                } else {
                    $(".checkAll2").prop("checked", false);
                }
            });
            $(".checkboxes3").click(function () {
                var numberOfCheckboxes = $(".checkboxes3").length;
                var numberOfCheckboxesChecked = $('.checkboxes3:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll3").prop("checked", true);
                } else {
                    $(".checkAll3").prop("checked", false);
                }
            });
            $(".checkboxes4").click(function () {
                var numberOfCheckboxes = $(".checkboxes4").length;
                var numberOfCheckboxesChecked = $('.checkboxes4:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll4").prop("checked", true);
                } else {
                    $(".checkAll4").prop("checked", false);
                }
            });
            $(".checkboxes5").click(function () {
                var numberOfCheckboxes = $(".checkboxes5").length;
                var numberOfCheckboxesChecked = $('.checkboxes5:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll5").prop("checked", true);
                } else {
                    $(".checkAll5").prop("checked", false);
                }
            });

        });


    </script>
}
