﻿@model Hermes_UI.Models.ResetPasswordModel



@{
    ViewData["Title"] = "ConfirmAccount";
    Layout = null;
}
<style>
        .top-right-image {
            /* width: 1349px; */
            height: 0px;
            margin-left: 955px;
            /* margin-top: -70px; */
        }



        .resend-label {
            /* font-family: 'Lato',sans-serif;*/
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #6A6A6A;
        }



        .login-brown-background {
            width: 1365px;
            height: 320px;
            margin-left: -8px;
            margin-top: 330px;
            background-color: #BB5B2C;
        }



        .login-form {
            width: 850px;
            height: 450px;
            left: 200px;
            margin-top: -580px;
            margin-left: 250px;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgb(0 0 0 / 35%);
            border-radius: 5px;
            z-index: 100;
        }

        body {
            overflow: hidden;
            font-family: sans-serif;
        }



        .login-holder {
            /* width: 1000px;
    height: 900px;
    left: 0px;
    top: 4px;
    background: #FFFFFF;*/
        }









        .page-heading {
            color: #396EB8;
            font-family: 'Open Sans',sans-serif;
            line-height: 41px;
        }



        .form-login {
            border: 1px solid #DCDADA;
            box-sizing: border-box;
            border-radius: 3px;
            background: #FFFFFF;
            width: 280px;
            margin-top: 10px;
            height: 35px;
        }



        .rememberme-checkbox {
            /* border: 1px solid #DCDADA;
    box-sizing: border-box;
    border-radius: 3px;*/
        }



        .forgot-password-link {
            text-decoration-line: underline;
            color: #09A6FF;
        }



        .login-button {
            background: #3A70BC;
            border: 1px solid #DCDADA;
            box-sizing: border-box;
            border-radius: 61px;
            width: 200px;
        }



        .vertical {
            width: 2px;
            height: 350px;
            background-color: #396EB8;
            margin: 40px 0 40px 0;
        }
</style>





<div class="top-right-image">
    <img src="~/image/1_Top right corner image.svg" width="400" />
</div>
<div class="login-brown-background">
</div>
<div class="h-100 login-holder">
    <div class="login-form">
        <div class="row">
            <div class="col-xl-6" style="width: 50%; ">
                <div>
                    <div style="">
                        <center>
                            <h1 style="color: #BB5B2C; padding-top: 60px;">Hermès</h1>
                        </center>
                    </div>
                    <center>
                        <img src="~/image/2_Object.svg" width="350" height="450" style="margin-top: -80px;" />
                    </center>
                </div>

            </div>



            <div class="col-xl-6" style="margin-top: -480px; margin-left: 430px; }">
                <div class="vertical"></div>
                <div style=" margin-top: -400px;">
                    <div class="page-heading my-3 mt-5">
                        <center><h2 style="margin-top:70px;"><span>Confirm Account</span></h2></center>
                    </div>
                    <center>
                        <div>




                            <div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @using (Html.BeginForm("ConfirmAccount", "Account", FormMethod.Post, new { id = "confirm_form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group form-login">
                                        @*<label asp-for="username" class="control-label"></label>*@
                                        <input asp-for="Email" class="form-control" placeholder="EmailAddress" readonly style="width: 280px; border: 1px solid #DCDADA; height: 35px; border-radius: 3px; padding-left: 10px; " />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-login">
                                        @*<label asp-for="password" class="control-label"></label>*@
                                        <input asp-for="Password" class="form-control mx-5 mt-4" type="password" placeholder="Password" style="width: 280px; border: 1px solid #DCDADA; height: 35px; border-radius: 3px; padding-left: 10px;" />
                                        @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                    </div>
                                    <div class="form-group form-login">
                                        @*<label asp-for="password" class="control-label"></label>*@
                                        <input asp-for="ConfirmPassword" class="form-control mx-5 mt-4" type="password" placeholder="Confirm Password" style="width: 280px; border: 1px solid #DCDADA; height: 35px; border-radius: 3px; padding-left: 10px; " />
                                        @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                                    </div>
                                    <input asp-for="Token" class="form-control mx-5 mt-4" type="hidden" />
                                    <div class="form-group mx-5 mt-4">
                                        <center><input type="submit" value="Confirm Account" class="btn btn-primary login-button mx-5 mt-4" style="border-radius: 61px; font-size: 18px; font-weight: 500; color: #fff; height: 40px;margin-top:20px" /></center>
                                    </div>
                                    <center>
                                        <div class="col-md-offset-4 col-md-8 resend-label mt-1">
                                            <p>
                                                <span>Click here to resend <a style=" color: #6A6A6A; text-decoration-line: none;"><b>link</b></a></span>
                                            </p>
                                        </div>
                                    </center>
                                }
                            </div>




                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>



</div>








@*<link rel="stylesheet" href="~/css/login.css" />*@



@section Scripts {



    <script>



        var winHt = $(window).height();
        var winWh = $(window).width();
        $(function () {
            $("header").css("display", "none");
            $("#nav-bar").css("display", "none");
            $("footer").css("display", "none");
            $("#mainBody").css({ height: winHt, width: winWh });
        });
    </script>
}