﻿@model Hermes_UI.Models.ResetPasswordModel
@{
    ViewData["Title"] = "ConfirmAccount";
}
<style>
    .resend-label {
        font-family: 'Lato',sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #6A6A6A;
    }
</style>



<div class="top-right-image">
    <img src="~/image/1_Top right corner image.svg" width="400" />
</div>
<div class="login-brown-background">
</div>
<div class="h-100 login-holder">
    <div class="login-form">
        <div class="row">
            <div class="col-md-6">



                <center>
                    <h1 style="color: #BB5B2C; margin-top: 60px"><span>Hermès</span></h1>
                    <img src="~/image/2_Object.svg" width="350" height="450" style="margin-top: -80px;" />
                </center>
            </div>



            <div class="col-md-6">
                <div class="vertical"></div>
                <div style=" margin-top: -400px;">
                    <div class="page-heading my-3 mt-5">
                        <center><h3 style="margin-top:70px;"><span>Confirm Account</span></h3></center>
                    </div>
                    <div>
                        @using (Html.BeginForm("ConfirmAccount", "Account", FormMethod.Post, new { id = "confirm_form" }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="form-group form-login mx-5 mt-3">
                            @*<label asp-for="username" class="control-label"></label>*@
                            <input asp-for="Email" class="form-control" placeholder="EmailAddress" readonly />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group form-login mx-5 mt-4">
                            @*<label asp-for="password" class="control-label"></label>*@
                            <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-login mx-5 mt-4">
                            @*<label asp-for="password" class="control-label"></label>*@
                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mx-5 mt-4">
                            <center><input type="submit" value="Confirm Account" class="btn btn-primary login-button" style="border-radius: 61px; font-size: 18px; font-weight: 500; " /></center>
                        </div>
                        <center>
                            <div class="col-md-offset-4 col-md-8 resend-label mt-1">
                                <p>
                                    <span>Click here to resend <a style=" color: #6A6A6A; text-decoration-line: none;"><b>link</b></a></span>
                                </p>
                            </div>
                        </center>
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>








<link rel="stylesheet" href="~/css/login.css" />



@section Scripts {



    <script>



var winHt = $(window).height();
var winWh = $(window).width();
$(function () {
$("header").css("display", "none");
$("#nav-bar").css("display", "none");
$("footer").css("display", "none");
$("#mainBody").css({ height: winHt, width: winWh });
});
    </script>
}