﻿@using Hermes_UI.EnumConstants;

@{
    ViewData["Title"] = "Manage Tenents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var res = ViewData["role"];
    var enumData = (IEnumerable<RoleDTO>)ViewData["role"];
}
<p>
    <button type="button" class="btn btn-default" id="newtenant" style="float: right; margin-right: 90px; margin-bottom: 20px; background: #396EB8; border-radius: 175px; color: #fff"> Add New </button>
</p>
<div class="">
    <div style="display: flex;">
        <img src="~/image/2_User Management.svg" width="20" height="20" style="margin-right:4px" />
        <h4 style="color: #396EB8; font-size: 23px; margin-left: 7px; margin-top: -4px; ">User Management</h4>
    </div>
    <table id="gridUsermanagement" class="table table-striped table-bordered" style="width: 99%; border: 1px solid #EBEBEB;">
        <thead class="border-bottom" style="color: #396EB8; background: #F5F5F6; ">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Tenant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userOutput">
        </tbody>
    </table>
</div>
<div class="modal fade" id="createUserModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <h5><span style="margin-left:15px">Create User</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                @*<h4 class="modal-title">Details</h4>*@
            </div>
            <div class="modal-body">
                <div class="col">
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">First Name:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="txtFirstName" style="width:250px">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">Last Name:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="txtLastName" style="width:250px">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">Email:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="txtEmail" style="width:250px">
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-lg-4">
                        <label for="lbltntName" class="" style="margin-left:16px">Role:</label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" id="ddlcreateRole" asp-items="@(new SelectList(enumData, nameof(RoleDTO.RoleId), nameof(RoleDTO.RoleName)))" placeholder="Select" style="width: 250px; margin-left: 5px;">
                            <option value="0">Select</option>
                            @*<option value="1">Admin</option>
                                <option value="2">Operator</option>
                                <option value="3">Auditor</option>*@
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-lg-4">
                        <label for="lbltntName" class="" style="margin-left:15px">
                            Tenant:
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" id="ddlcreateTenant" placeholder="Select" style="width: 250px; margin-left: 5px;">
                        </select>
                    </div>
                </div>


                @*<div class="col-lg-6 row">
                        <label for="lbltntName" class="col-sm-2 col-form-label">Active</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="isActive" checked>
                        </div>
                    </div>*@

            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-default" data-bs-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                <button type="button" class="btn btn-default" onclick="SaveUser()" id="SaveUser" style="background-color: #396EB8; border-radius: 175px;color:#fff;">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5><span style="margin-left: 15px; color: #396EB8">Remove User</span></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete
                this user
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #396EB8; border-radius: 175px; color: #fff;">Yes</button>
                <button type="button" class="btn btn-default" id="PostTenant" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade 1" id="editUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5><span style="margin-left: 15px; color: #396EB8">Edit User</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">First Name:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="updateFirstName" style="width:250px"><span class="text-danger">*</span>
                            
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">Last Name:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="updateLastName" style="width:250px">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-4">
                            <label for="lbltntName" class="">Email:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="updateEmail" readonly="readonly" style="width:250px">
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-lg-4">
                        <label for="lbltntName" class="" style="margin-left:16px">Role:</label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" id="ddlupdateRole" asp-items="@(new SelectList(enumData, nameof(RoleDTO.RoleId), nameof(RoleDTO.RoleName)))" placeholder="Select" style="width: 250px; margin-left: 5px;">
                            <option value="0">Select</option>
                            @*<option value="1">Admin</option>
                                <option value="2">Operator</option>
                                <option value="3">Auditor</option>*@
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-lg-4">
                        <label for="lbltntName" class="" style="margin-left:15px">
                            Tenant:
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" id="ddlupdateTenant" placeholder="Select" style="width: 250px; margin-left: 5px;" disabled>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeUser" data-bs-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                <button type="button" class="btn btn-default" onclick="UpdateUser()" id="updateUser" style="background-color: #396EB8; border-radius: 175px; color: #fff;">Update</button>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @*<link href="~/css/Loader.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav_list a").removeClass("active");
            $('.UserManagement').addClass('active');
            bindTenantdropdown();
        });
        function successNotification(msg) {
            toastr.options.progressBar = true;
            toastr.options.positionClass = "toast-top-center";
            toastr.options.extendedTimeOut = "10000";
            toastr.success(msg, 'Success!');
        }
        function failureNotification(msg) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error(msg);
        }
        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test($email);
        }

        $('#gridUsermanagement').DataTable({
            responsive: true,
            stateSave: true,
            initComplete: function () {
                var table = this.api();

                // Add filtering
                table.columns().every(function () {
                    var that = this;

                    // Create the `select` element
                    var input = $('<input type="text" />')
                        .on("keyup", function () {
                            that.search($(this).val()).draw();
                        });

                    // Restore state saved values
                    var state = this.state.loaded();
                    if (state) {
                        var val = state.columns[this.index()];
                        input.val(val.search.search);
                    }

                });
            },
            orderCellsTop: true,
            fixedHeader: true,
            dom: "Bfrtip",
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],
            buttons: [

                'pageLength',
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed three-column',
                    columnText: function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    }
                },
                //{ extend: 'copyHtml5', footer: true },
                //{
                //    text: 'Export Excel',
                //    extend: 'excelHtml5',
                //    autoFilter: true,
                //    sheetName: 'Manage Invices',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                //    },
                //    footer: true
                //},

                //{
                //    text: 'Export CSV',
                //    extend: 'csvHtml5',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                //    },
                //    footer: true

                //},
                //{ extend: 'pdfHtml5', footer: true }
            ],
            "stateSave": true,
            "autoWidth": true,
            "scrollX": true,
            // ServerSide Setups

            "serverSide": true,
            // Paging Setups
            "paging": true,
            // Searching Setups
            "searching": { regex: true },
            // Ajax Filter
            // "scrollY": '50vh',
            "scrollCollapse": true,


            "select": "multi",
            "order": [[0, "desc"]],
            "processing": true, // for show progress bar
            "pagingType": "full_numbers",
            "filter": true, // this is for disable filter (search box)
            "ajax": {
                    type: 'POST',
                    url: "https://localhost:44311/api/User/GetAllUser",
                    contentType: 'application/json',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    dataType: "json",
                    data: function (d) {

                        return JSON.stringify(d);
                    },
                    dataSrc: function (settings) {
                        // Here the response
                        response = settings.results;
                        return response;
                    }

                },
                "columns": [
                    { "data": "firstName", "name": "firstName" },
                    { "data": "lastName", "name": "lastName" },
                    { "data": "email", "name": "email" },
                    { "data": "roleName", "name": "roleName" },
                    { "data": "tenantName", "name": "tenantName" },
                    {
                        "render": function (data, type, full, meta) {
                            var result = "<button type='button' class='btn btn-default' onclick='" + "EditUser(" + '"' + full.id + '"' + ")" + "' width='15' height='15' style='background: #396EB8'><img src='/image/edit.svg' width='15' height='15' /></button>" +
                                "<button type='button' class='btn btn-default' id='delete' onclick='" + "DeleteUser(" + '"' + full.id + '"' + ")" + "' width='20' height='20' style='background:red; margin-left:4px'><img src='/image/delete.svg' /></button>";
                            return result;
                        },
                        orderable: false
                    },
                ]

        });



        $('#newtenant').click(function NewTenant() {
            bindTenantdropdown();
            if ('@ViewData["role"]' == 'Operator') {
                $('select[id^="ddlcreateRole"] option[value="1"]').attr("selected", "selected");
                $('#ddlcreateRole').attr("disabled", true);
            } else {
                $('#ddlcreateRole').attr("disabled", false);
            }
            $("#createUserModal").modal("show");
        });

        $('#delete').click(function Delete() {
            $("#deleteUser").modal("show");
        });

        //getAllUsers();

        function redirectToLogin() {
            var url = '@Url.Action("Index", "Login")';
            window.location.href = url;
        }       

        $('#closeUser').on('click', function () {
            $(this).data('modal').$element.removeData();
        })

        function bindTenantdropdown() {
            $('#ddlupdateTenant').empty().append('<option selected="selected" value="0">Select</option>');
            $('#ddlcreateTenant').empty().append('<option selected="selected" value="0">Select</option>');
            $.ajax({
                type: 'GET',
                url: "https://localhost:44311/api/LoadControl/LoadTenant",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                dataType: "json",
                success: function (resultData) {

                    $.each(resultData.results, function (key, value) {
                        $("#ddlupdateTenant").append($("<option></option>").val(value.tenantId).html(value.tenantName));
                        $("#ddlcreateTenant").append($("<option></option>").val(value.tenantId).html(value.tenantName));
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                }
            });


        }

        function EditUser(id) {

            $.ajax({
                type: 'GET',
                url: "https://localhost:44311/api/User/EditUserById",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: { 'userId': id},
                dataType: "json",
                success: function (resultData) {

                    $("#updateUser").prop('value', resultData.results[0].id);

                    $("#updateFirstName").val(resultData.results[0].firstName);
                    $("#updateLastName").val(resultData.results[0].lastName);
                    $("#updateEmail").val(resultData.results[0].email);
                    $("#editUser").modal("show");
                    $('select[id^="ddlupdateRole"] option:selected').attr("selected", null);
                    if (resultData.results[0].roleName == 'Admin') {
                        $('select[id^="ddlupdateRole"] option[value="1"]').prop("selected", "selected");
                    } else if (resultData.results[0].roleName == 'Operator') {
                        $('select[id^="ddlupdateRole"] option[value="2"]').prop("selected", "selected");
                    }else if (resultData.results[0].roleName == 'Auditor') {
                        $('select[id^="ddlupdateRole"] option[value="3"]').prop("selected", "selected");
                    }
                    $('select[id^="ddlupdateTenant"] option[value=' + resultData.results[0].tenant.tenantId + ']').attr("selected", "selected");
                    //$("#ddlupdateTenant").text(resultData.results[0].tenantName);
                    //$("#isActive").attr('checked', resultData.results[0].isActive);

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                }
            });

        };

        function DeleteUser(id) {
            if (confirm('Are you sure that you want to delete this user?')) {
                var params = {
                    'userId': id
                }
                $.ajax({
                    type: 'GET',
                    url: "https://localhost:44311/api/User/DeleteUser",
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    data: { 'userId': id },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.isValid) {
                            successNotification("User has been deleted Successfully.");
                            $('#gridUsermanagement').DataTable().ajax.reload();
                        } else {
                            failureNotification("Delete user failed.");
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText + "--" + status + "--" + error);
                        failureNotification(xhr.responseText);
                    }
                });
            }
        };


        function SaveUser() {

            var params = {
                'firstName': $('#txtFirstName').val(),
                'lastName': $('#txtLastName').val(),
                'email': $('#txtEmail').val(),
                'userType': { 'roleId': $('#ddlcreateRole').val(), 'roleName': $("#ddlcreateRole option:selected").text()},
                'tenantId': $('#ddlcreateTenant').val()
            }
            if ($('#ddlcreateRole').val() == '0') {
                failureNotification("Role is required");
                return;
            }
            if ($('#ddlcreateTenant').val() == '0') {
                failureNotification("Tenant is required");
                return;
            }
            if (!validateEmail($('#txtEmail').val())) {
                failureNotification("Please enter valid Email Address.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: "https://localhost:44311/api/User/NewUser",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(params),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        successNotification("New user added successfully!!!");
                        $("#createUserModal").modal("hide");
                        $('#gridUsermanagement').DataTable().ajax.reload();
                    } else {
                        failureNotification(resultData.resultSetErrors[0].errorMessage);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                    failureNotification(xhr.responseText);

                }
            });
        };

        function UpdateUser() {

            var params = {
                'id': $("#updateUser").val(),
                'firstName': $('#updateFirstName').val(),
                'lastName': $('#updateLastName').val(),
                'email': $('#updateEmail').val(),
                'role': { 'roleId': $('#ddlupdateRole').val(), 'roleName': $("#ddlupdateRole option:selected").text() },
                'tenant': { 'tenantId': $('#ddlupdateTenant').val(), 'tenantName': $("#ddlupdateTenant option:selected").text() }
            }
            if ($('#ddlupdateRole').val() == '0') {
                failureNotification("Role is required");
                return;
            }
            if ($('#ddlupdateTenant').val() == '0') {
                failureNotification("Tenant is required");
                return;
            }

            $.ajax({
                type: 'PUT',
                url: "https://localhost:44311/api/User/Updateuser",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(params),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        successNotification("User details updated successfully!!!");
                        $("#editUser").modal("hide");
                        $('#gridUsermanagement').DataTable().ajax.reload();
                    } else {
                        failureNotification(resultData.resultSetErrors[0].errorMessage);

                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                    failureNotification(xhr.responseText);
                }
            });
        };
    </script>

}
