﻿@{
    ViewData["Title"] = "Rule Engine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .rule-img-label {
        color: #396EB8;
        font-size: 23px;
        margin-left: 7px;
        margin-top: -4px;
       
    }
    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .tab {
        font-family: 'Lato', sans-serif;
    }

        .tab .nav-tabs {
            border: none;
            text-decoration: none;
        }

            .tab .nav-tabs li a {
                color: #555555;
                background: transparent;
                font-size: 15px;
                font-style: normal;
                font-weight: bold;
                padding: 11px 25px 5px;
                margin: 0 2px 1px 0;
                border: none;
                border-radius: 30px 30px 0 0;
                position: relative;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
            }

            .tab .nav-tabs li.active a,
            .tab .nav-tabs li.active a:hover {
                color: #fff;
                background-color: #396EB8;
                border: none;
                text-decoration: none;
            }

            .tab .nav-tabs li a:before {
                content: '';
                height: 90%;
                width: 100%;
                border: 1px solid #DFE5F9;
                border-bottom: none;
                text-decoration: none;
                border-radius: 30px 30px 0 0;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.3s ease 0s;
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
            }

            .tab .nav-tabs li.active a:before,
            .tab .nav-tabs li a:hover:before {
                height: 100%;
                text-decoration: none;
            }

        .tab .tab-content {
            color: #787878;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 25px;
            padding: 25px 25px 20px;
            border: 1px solid #396EB8;
            border-radius: 0px 3px 3px 3px;
            width: 100%;
        }

    .checkbox-label {
        text-align: center;
        background: #FAFAFA;
        border: 1px solid rgba(48, 55, 80, 0.15);
        box-sizing: border-box;
        border-radius: 50px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        padding: 10px 10px;
        /* identical to box height */

        letter-spacing: 0.2px;
        color: #787878;
    }

    input[type=checkbox] {
        line-height: normal;
        border-radius: 50%;
        color: #787878;
        margin-right: 10px;
    }

    .span-field {
        font-size: 12px;
        color: #757575;
    }
</style>
<body class="rule">
    <div style="display:flex;">
        <img src="~/image/5_Rule Engine.svg" width="20" height="20" style="margin-right:4px" />
        <h4 class="rule-img-label">Rule Engine</h4>

        @*<label class="rule-img-label">Rule Engine</label>*@
    </div>
    <div class="mt-4">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul id="wiz_menu" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#Section1" aria-controls="number" role="tab" data-toggle="tab">Invoice Number</a></li>
                <li role="presentation"><a href="#Section2" aria-controls="date" role="tab" data-toggle="tab">Invoice Date</a></li>
                <li role="presentation"><a href="#Section3" aria-controls="name" role="tab" data-toggle="tab">Invoice Name</a></li>
                <li role="presentation"><a href="#Section4" aria-controls="currency" role="tab" data-toggle="tab">Currency</a></li>
                <li role="presentation"><a href="#Section5" aria-controls="total" role="tab" data-toggle="tab">Total</a></li>
                <li role="presentation"><a href="#Section6" aria-controls="tax" role="tab" data-toggle="tab">Tax</a></li>
                <li role="presentation"><a href="#Section7" aria-controls="ponumber" role="tab" data-toggle="tab">PO Number</a></li>
                <li role="presentation"><a href="#Section8" aria-controls="option" role="tab" data-toggle="tab">Additional Option</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade show active" id="Section1" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes1" value="">Mandatory </label><br>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-mandatory" value="">Mandatory </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-alert" value="">Alert for future dates </label><br>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-mandatory" value="">Mandatory </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-alert" value="">Alert for future dates </label><br>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section4" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="checkAll" class="checkAll">Select All </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="1">USD </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="2">CAD </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="3">GBP </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="4">EURO </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="5">Others </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes" value="6">Mandatory </label><br>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section5" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-mandatory" value="">Mandatory </label><br>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section6" style="">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-mandatory" value="">Mandatory </label><br>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section7" style="width: auto">
                    <div>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-special" value="">Special Character (includes special character in invoice number) </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-mandatory" value="">Mandatory </label><br>
                        <label class="checkbox-label my-1"><input type="checkbox" name="" class="checkboxes-check" value="">Check for match in master data </label><br>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section8" style="width: auto">
                    <div>
                        <span class="span-field"><label class="checkbox-label" style=" margin-right: 10px;"><input type="checkbox" name="" class="checkboxes-duplicate" value="">Check for Duplicate (3 way match) </label>Invoice number + Invoice date + Vendor number</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-2" style="float:right; ">
            <button type="button" class="btn btn-submit" id="btnSubmit" style=" background-color: #396EB8; border-radius: 175px; color: #fff;">Submit</button>
            <button type="button" class="btn btn-cancel" id="cancel" style=" background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>

        </div>
    </div>
</body>



<link rel="stylesheet" href="~/css/rule-engine.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>




@section scripts{
    <script>

        $(document).ready(function () {
            $(".nav_list a").removeClass("active");
            $('.RuleEngine').addClass('active');
            $('.checkAll').click(function () {
                if (this.checked) {
                    $(".checkboxes").prop("checked", true);
                } else {
                    $(".checkboxes").prop("checked", false);
                }
            });
            $(".checkboxes").click(function () {
                var numberOfCheckboxes = $(".checkboxes").length;
                var numberOfCheckboxesChecked = $('.checkboxes:checked').length;
                if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                    $(".checkAll").prop("checked", true);
                } else {
                    $(".checkAll").prop("checked", false);
                }
            });
           
        });
    </script>
}