﻿@model Hermes_UI.Models.LoginViewModel
<style>
    .bg-white {
        background-color: #EEE !important;
    }
</style>
@*<h4>Login</h4>
    <hr />*@
<div class="top-right-image">
    <img src="~/image/1_Top right corner image.svg" width="400" />
</div>
<div class="login-brown-background">
</div>
<div class="h-100 login-holder">
    <div class="login-form">
        <div class="row">
            <div class="col-md-6">

                <center>
                    <h1 style="color: #BB5B2C; margin-top: 60px"><span>Hermès</span></h1>
                    <img src="~/image/2_Object.svg" width="350" height="450" style="margin-top: -80px;" />
                </center>
            </div>

            <div class="col-md-6">
                <div class="vertical"></div>
                <div style=" margin-top: -400px;">
                    <div class="page-heading my-3">
                        <center><h3 style="margin-top:50px;"><span>Sign In</span></h3></center>
                    </div>
                    <div>

                        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "login_form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group form-login mx-5 mt-5">
                                @*<label asp-for="username" class="control-label"></label>*@
                                <input asp-for="username" class="form-control" placeholder="EmailAddress" />
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                            <div class="form-group form-login mx-5 mt-4">
                                @*<label asp-for="password" class="control-label"></label>*@
                                <input asp-for="password" class="form-control" type="password" placeholder="Password" />

                            </div>
                            <div class="form-group mx-5 mt-4">
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            
                            <div class="row mt-1 mb-2 justify-content-between mx-5 mt-4">
                                <div class="col-auto">
                                    <div class="form-check rememberme-checkbox">
                                        <input class="form-check-input" type="checkbox" id="RememberMe">
                                        <label class="form-check-label">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto forgot-password-link">
                                    <a>Forgot Password</a>
                                </div>
                            </div>
                            <div id="html_element"></div>
                            <div class="form-group mx-5">
                                <center><input type="submit" value="Sign In" class="btn btn-primary login-button" style="border-radius: 61px; font-size: 18px; font-weight: 500; " /></center>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*<div>
    <a asp-action="Index">Back to List</a>
    </div>*@




<link rel="stylesheet" href="~/css/login.css" />



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>       

        var winHt = $(window).height();
        var winWh = $(window).width();
        $(function () {
            $("header").css("display", "none");
            $("#nav-bar").css("display", "none");
            $("footer").css("display", "none");
            $("#mainBody").css({ height: winHt, width: winWh });
        });
    </script>



    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>



    <script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
@*'sitekey': '@Configuration["GoogleRecaptcha:SiteKey"]'*@
        });
    };
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;



        return true;
    }
    </script>



}