﻿.toppanel {
    position: absolute;
    left: 15.89%;
    right: 0.52%;
    top: 0.52%;
    bottom: 87.41%;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(72, 89, 102, 0.1006);
    border-radius: 20px;
}
