﻿body {
    font-size: 18px
}
* {
   
}

.manage-img-label {
    color: #396EB8;
    font-size: 23px;
    margin-left: 7px;
}
label {
    display: block;
}

.rowSelected {
    background-color: #eee;
}

#thing {
   /* background: lightgray;*/
    padding: 5px;
}
.checkbox-label {
    text-align: center;
    background: #FAFAFA;
    border: 1px solid rgba(48, 55, 80, 0.15);
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    /*font-size: 20px;*/
    padding: 10px 10px;
    /* identical to box height */

    letter-spacing: 0.2px;
    color: #787878;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.tab {
    font-family: 'Lato', sans-serif;
}

    .tab .nav-tabs {
        border: none;
        text-decoration: none;
    }

        .tab .nav-tabs li a {
            color: #555555;
            background: transparent;
            font-size: 15px;
            font-weight: bold;
            padding: 11px 25px 5px;
            margin: 0 5px 1px 0;
            border: none;
            border-radius: 30px 30px 0 0;
            position: relative;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
        }

        .tab .nav-tabs li.active a,
        .tab .nav-tabs li.active a:hover {
            color: #fff;
            background-color: #396EB8;
            border: none;
            text-decoration: none;
        }

        .tab .nav-tabs li a:before {
            content: '';
            height: 90%;
            width: 100%;
            border: 1px solid #DFE5F9;
            border-bottom: none;
            text-decoration: none;
            border-radius: 30px 30px 0 0;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.3s ease 0s;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
        }

        .tab .nav-tabs li.active a:before,
        .tab .nav-tabs li a:hover:before {
            height: 100%;
            text-decoration: none;
        }

    .tab .tab-content {
        color: #787878;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 25px;
        padding: 25px 25px 20px;
        border: 1px solid #396EB8;
        border-radius: 0px 3px 3px 3px;
        width: 100%;
    }
