﻿
@{
    ViewData["Title"] = "Manage Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<style>
    .line-items-label {
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #484848
    }

    #tblProducts {
        border-spacing: 3px;
        border-collapse: separate
    }

    .manage-img-label {
        color: #396EB8;
        font-size: 23px;
        margin-left: 7px;
        margin-top: -5px;
    }

    table > tbody > tr > td {
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .checkbox-label {
        text-align: center;
        background: #FAFAFA;
        border: 1px solid rgba(48, 55, 80, 0.15);
        box-sizing: border-box;
        border-radius: 50px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        padding: 10px 10px;
        /* identical to box height */

        letter-spacing: 0.2px;
        color: #787878;
    }

    p {
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #484848;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .tab {
        font-family: 'Lato', sans-serif;
    }

        .tab .nav-tabs {
            border: none;
            text-decoration: none;
        }

            .tab .nav-tabs li a {
                color: #555555;
                background: transparent;
                font-size: 15px;
                font-style: normal;
                font-weight: bold;
                padding: 11px 25px 5px;
                margin: 0 5px 1px 0;
                border: none;
                border-radius: 30px 30px 0 0;
                position: relative;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
            }

            .tab .nav-tabs li.active a,
            .tab .nav-tabs li.active a:hover {
                color: #fff;
                background-color: #396EB8;
                border: none;
                text-decoration: none;
            }

            .tab .nav-tabs li a:before {
                content: '';
                height: 90%;
                width: 100%;
                border: 1px solid #DFE5F9;
                border-bottom: none;
                text-decoration: none;
                border-radius: 30px 30px 0 0;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.3s ease 0s;
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
            }

            .tab .nav-tabs li.active a:before,
            .tab .nav-tabs li a:hover:before {
                height: 100%;
                text-decoration: none;
            }

        .tab .tab-content {
            color: #787878;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 25px;
            padding: 25px 25px 20px;
            border: 1px solid #396EB8;
            border-radius: 0px 3px 3px 3px;
            width: 100%;
        }

    .field-setting-label {
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* text-align: right;*/
        color: #555555;
    }

    input[type=text] {
        font-size: 14px;
        background: #FFFFFF;
        border: 1px solid #E4E4E4;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .tab-pane {
        display: none;
    }

        .tab-pane.active {
            display: block;
        }

    .progress-bar {
        background-color: #396EB8;
    }

    .dragged-over {
        border: 1px solid;
    }

    .browse-label, browse-label:hover {
        color: #2196F3
    }

    .upload-file-label {
        background: #FFFFFF;
        border: 1px dashed #CDCDCD;
        box-sizing: border-box;
        border-radius: 4px;
        width: 280px;
        height: 70px;
    }
</style>
<body class="manage">
    <p>

        <div style="display:flex;">
            <img src="~/image/3_Manage Invoice.svg" width="20" height="20" style="margin-right:4px" />
            <h4 class="manage-img-label">Manage Invoice</h4>


        </div>
        <button type="button" class="btn btn-default" id="btnuploadInvoice" style="float: right; margin-bottom: 20px; background: #396EB8; border-radius: 175px; margin-top: -30px; color: #fff;"> Upload Invoice </button>

        <button type="button" class="btn btn-default mx-1" id="customizeInvoice" style="float: right; margin-bottom: 20px; background: #396EB8; margin-top: -30px; ">
            <img src="~/image/10_See Columns.svg" width="20" height="20" />
        </button>


    </p>


    <table id="manageTable" class="table table-striped table-bordered" style="width: 99%; border: 1px solid #EBEBEB;">
        <thead class="border-bottom" style="color: #396EB8; background: #F5F5F6; ">
            <tr>


                <th>Invoice ID</th>
                <th>Invoice#</th>
                <th>Invoice Date</th>
                <th>Vendor Name</th>
                <th>Source</th>
                <th>Batch Name</th>
                <th>Status</th>
                <th>Received On</th>
                <th>Last Modified On</th>
                @*<th>Status</th>*@
                @*<th>Box Number</th>*@
                @*<th>Batch</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="userOutput">
        </tbody>
    </table>

    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 570px;">
                <div class="modal-header">
                    <h5><span style="margin-left: 15px; color: #396EB8">Invoice Upload</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Invoice Number: *</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtUploadInvoiceNo" style="width:280px">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Upload File:</label>
                            </div>
                            <div class="col-lg-8">
                                @*<form style="display:flex;">
                                        <input type="text" placeholder="SNo." style="width: 60px;" />
                                        <input type="text" placeholder="File Name" style="width: 110px;" />
                                        <input type="text" placeholder="Uploaded On" style="width: 110px;" />

                                    </form>*@

                                <div class="upload-file-label my-2" style="">
                                    <div class="mt-3">
                                        <span class="browse-label">
                                            <input type="file" name="image-event" id="lblFile">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <label for="lbltntName" class="">Comments</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtUploadComments" style="width:280px">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="hdnFileByte" />
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                        <button type="submit" class="btn btn-default" onclick="" id="btnUpload" style="background-color: #396EB8; border-radius: 175px;color:#fff;">Upload</button>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!--customize columns-->

    <div class="modal fade" id="customizeColumns" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content" style="pointer-events: none">
                <div class="modal-header">
                    <h5><span style="margin-left: 15px; color: #396EB8">Customize Columns</span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-xl-6" id="ctl00_ContentPlaceHolder1_divServices">
                            <p>Available Columns</p>
                            <label for="1" class="checkbox-label my-2 mx-1">
                                <input id="1" type="checkbox" name="1" />
                                <span id="thing">1: Invoice ID</span>
                            </label>
                            <label for="2" class="checkbox-label my-2 mx-1">
                                <input id="2" type="checkbox" name="2" />
                                <span id="thing">2: Invoice #</span>
                            </label>
                            <label for="3" class="checkbox-label my-2 mx-1">
                                <input id="3" type="checkbox" name="3" />
                                <span id="thing">3: MSC Code</span>
                            </label>
                            <label for="4" class="checkbox-label my-2 mx-1">
                                <input id="4" type="checkbox" name="4" />
                                <span id="thing">4: Vendor Name</span>
                            </label>
                            <label for="5" class="checkbox-label my-2 mx-1">
                                <input id="5" type="checkbox" name="5" />
                                <span id="thing">5: Uploaded By</span>
                            </label>
                            <label for="6" class="checkbox-label my-2 mx-1">
                                <input id="6" type="checkbox" name="6" />
                                <span id="thing">6: Source</span>
                            </label>
                            <label for="7" class="checkbox-label my-2 mx-1">
                                <input id="7" type="checkbox" name="7" />
                                <span id="thing">7: Status</span>
                            </label>

                            <label for="8" class="checkbox-label my-2 mx-1">
                                <input id="8" type="checkbox" name="8" />
                                <span id="thing">8: Box Number</span>
                            </label>


                            <label for="9" class="checkbox-label my-2 mx-1">
                                <input id="9" type="checkbox" name="9" />
                                <span id="thing">9: Created</span>
                            </label>
                            <label for="10" class="checkbox-label my-2 mx-1">
                                <input id="10" type="checkbox" name="10" />
                                <span id="thing">10: Last Modified</span>
                            </label>
                            <label for="11" class="checkbox-label my-2 mx-1">
                                <input id="11" type="checkbox" name="11" />
                                <span id="thing">11: Edit</span>
                            </label>
                            <label for="12" class="checkbox-label my-2 mx-1">
                                <input id="12" type="checkbox" name="12" />
                                <span id="thing">12: Download</span>
                            </label>
                            <label for="13" class="checkbox-label my-2 mx-1">
                                <input id="13" type="checkbox" name="13" />
                                <span id="thing">13: Delete</span>
                            </label>
                            <label for="14" class="checkbox-label my-2 mx-1">
                                <input id="14" type="checkbox" name="14" />
                                <span id="thing">14: Resend</span>
                            </label>
                        </div>

                        <div class="col-xl-6" style="border-left: 2px solid #E5E5E5">
                            <div id="selectedServices">
                                <p>
                                    Selected Columns
                                </p>
                                <div id="myDiv"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Cancel</button>
                        <button type="button" class="btn btn-default" onclick="" id="" style="background-color: #396EB8; border-radius: 175px;color:#fff;">Apply Columns</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Edit-->
    <div class="modal fade" id="editInvoice" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content" style="width: 1200px;">
                <div class="modal-header">
                    <h5><span style="margin-left: 15px; color: #396EB8">Audit Invoice</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <object width='550' height='650' id="objBindpdfId" type="application/pdf" data=""></object>
                        </div>
                        <div class="col-xl-6">
                            @*<div class="progress my-4">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 20%;">
                                        Step 1 of 3
                                    </div>
                                </div>*@
                            <div class="tab" role="tabpanel">
                                <!-- Nav tabs -->
                                <ul id="wiz_menu" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" data-step="1">Standard</a></li>
                                    <li role="presentation"><a href="#Section2" aria-controls="line" role="tab" data-toggle="tab" data-step="2">Line Items</a></li>
                                    <li role="presentation"><a href="#Section3" aria-controls="custom" role="tab" data-toggle="tab" data-step="3">Custom</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabs">
                                    <div role="tabpanel" class="tab-pane fade show active" id="Section1" data-step="1" style="width:auto">
                                        <div class="row my-3">
                                            <div class="col-6">
                                                <span class="field-setting-label">Vendor Name:</span>
                                                <input type="text" class="form-control" id="txtVendorName" style="" />
                                            </div>
                                            <div class="col-6">
                                                <span class="field-setting-label">Vendor Number:</span>
                                                <input type="text" class="form-control" id="txtVendorNumber" style="" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-6">
                                                <span class="field-setting-label">Invoice Number:</span>
                                                <input type="text" class="form-control" id="txtInvoiceNumber" style="" />
                                            </div>
                                            <div class="col-6" style="">
                                                <span class="field-setting-label">Invoice Date:</span>
                                                <input type="date" class="form-control" id="txtInvoiceDate" style="" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-6">
                                                <span class="field-setting-label">Total Amount:</span>
                                                <input type="text" class="form-control" id="txtTotalAmount" style="" />
                                            </div>
                                            <div class="col-6">
                                                <span class="field-setting-label">All Tax(s)</span>
                                                <input type="text" class="form-control" id="txtTotalTax" value="0" style="" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-6">
                                                <span class="field-setting-label">Currency:</span>
                                                <select class="form-control" placeholder="USD" id="ddlCurrency">
                                                    <option value="USD">USD</option>
                                                    <option value="CAD">CAD</option>
                                                    <option value="EURO">EURO</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <span class="field-setting-label">PO Number:</span>
                                                <input type="text" class="form-control" id="txtPONumber" style="" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-6">
                                                <span class="field-setting-label">CR/DR Notes:</span>
                                                <select class="form-control" placeholder="" id="ddlCRDR">
                                                    <option value="INVOICE">INVOICE</option>
                                                    <option value="CREDIT">CREDIT</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <span class="field-setting-label">Status:</span>
                                                <select class="form-control" placeholder="" id="ddlstatus">
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <input type="hidden" id="hdninvId" />
                                                <input type="hidden" id="hdnrowVersionId" />
                                            </div>
                                        </div>

                                        <div class="row my-3">
                                            <div class="col-xl-3">
                                                <span class="field-setting-label">Ship to Address:</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" id="txtShipAddress" style="width: -webkit-fill-available; margin-left:-50px" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-xl-3">
                                                <span class="field-setting-label">Remit To Address:</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" id="txtRemitToAddress" style="width: -webkit-fill-available; margin-left: -50px" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-xl-3">
                                                <span class="field-setting-label">Bill To Address:</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <input type="text" class="form-control" id="txtBillToAddress" style="width: -webkit-fill-available; margin-left: -50px" />
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-xl-3">
                                                <span class="field-setting-label">Comments:</span>
                                            </div>
                                            <div class="col-xl-9">
                                                <textarea rows="1" class="form-control" cols="41" id="txtComments" name="comment" form="usrform" style="margin-left: -50px; border-color: #E4E4E4"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="Section2" data-step="2" style="width:auto">
                                        <div class="row">
                                            <table id="tblProducts" class="table-borderless" cellpadding="0" cellspacing="1" border="0">
                                                <thead>
                                                    <tr>
                                                        @*<th class="line-items-label">S.N</th>*@
                                                        <th class="line-items-label">Description</th>
                                                        <th class="line-items-label">Units</th>
                                                        <th class="line-items-label">Unit Price</th>
                                                        <th class="line-items-label">Total Price</th>

                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>

                                                        <td><input type="text" id="txtDescription" class="line-items-value" style="width:220px" /></td>
                                                        <td><input type="text" id="txtUnits" class="line-items-value" style="width:50px" /></td>
                                                        <td><input type="text" id="txtUnitPrice" style="width:75px" /></td>
                                                        <td><input type="text" id="txtTotalPrice" style="width:75px" /></td>
                                                        <td><input type="button" onclick="Add()" value="+" style="font-size: 22px; height: 29px; " /></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="Section3" data-step="3" style="width:auto">
                                        <div class="row my-2">
                                            <div class="col-6">
                                                <span class="field-setting-label">Tail Number:</span>
                                                <input type="text" class="" placeholder="Delta" style="" />
                                            </div>
                                            <div class="col-6">
                                                <span class="field-setting-label">MSC Code:</span>
                                                <input type="text" class="" placeholder="LSG" style="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #FF0000; border-radius: 175px; color: #fff;">Close</button>
                    <button type="button" class="btn btn-default" onclick="" id="UpdateInvoice" style="background-color: #396EB8; border-radius: 175px; color: #fff;">Update</button>
                </div>
            </div>
        </div>
    </div>

</body>



@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />


    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav_list a").removeClass("active");
            $('.ManageInvoice').addClass('active');
        });

        //window.onload = function () {
        //    //Add the data rows.
        //    for (var i = 0; i < products.length; i++) {
        //        AddRow(products[i][0], products[i][1]);
        //    }

        //};



        function Add() {
            var validate = true;
            $('#tblProducts').find('tr input[type=text]').each(function () {
                if ($(this).val() == "") {
                    validate = false;
                }
            });
            if (validate) {

                var txtDescription = document.getElementById("txtDescription");
                var txtUnits = document.getElementById("txtUnits");
                var txtUnitPrice = document.getElementById("txtUnitPrice");
                var txtTotalPrice = document.getElementById("txtTotalPrice");

                AddRow(txtDescription.value, txtUnits.value, txtUnitPrice.value, txtTotalPrice.value);
                txtDescription.value = "";
                txtUnits.value = "";
                txtUnitPrice.value = "";
                txtTotalPrice.value = "";
            } else {
                failureNotification("please fill all the details")
                return false;
            }
        };
        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = button.parentNode.parentNode;
            var name = row.getElementsByTagName("TD")[0].innerHTML;
            //if (confirm("Do you want to delete: " + name)) {

                //Get the reference of the Table.
                var table = document.getElementById("tblProducts");
                //Delete the Table row using it's Index.
                table.deleteRow(row.rowIndex);
            //}
        };

        function AddRow(description, units, unitprice, totalprice) {

            //Get the reference of the Table's TBODY element.
            var tBody = document.getElementById("tblProducts").getElementsByTagName("TBODY")[0];
            //Add Row.
            row = tBody.insertRow(-1);
            //Add Name cell.
            var cell = row.insertCell(-1);
            cell.innerHTML = description;
            //Add Country cell.
            cell = row.insertCell(-1);
            cell.innerHTML = units;
            //Add Country cell.
            cell = row.insertCell(-1);
            cell.innerHTML = unitprice;
            //Add Country cell.
            cell = row.insertCell(-1);
            cell.innerHTML = totalprice;
            //Add Button cell.
            cell = row.insertCell(-1);
            var btnRemove = document.createElement("INPUT");
            btnRemove.type = "button";
            btnRemove.value = " - ";
            btnRemove.setAttribute("onclick", "Remove(this);");
            cell.appendChild(btnRemove);

        }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

        (function (document) {
            var input = document.getElementById("lblFile");

            // Eventhandler for file input.
            function openfile(evt) {
                var files = input.files;
                // Pass the file to the blob, not the input[0].
                fileData = new Blob([files[0]]);
                // Pass getBuffer to promise.
                var promise = new Promise(getBuffer(fileData));
                // Wait for promise to be resolved, or log error.
                promise.then(function (data) {
                    // Here you can pass the bytes to another function.
                    //output.innerHTML = data.toString();
                    //var d = base64ToArrayBuffer(data);
                    $("#hdnFileByte").val(data);
                }).catch(function (err) {
                    console.log('Error: ', err);
                });
            }

            /*
              Create a function which will be passed to the promise
              and resolve it when FileReader has finished loading the file.
            */
            function getBuffer(fileData) {
                return function (resolve) {
                    var reader = new FileReader();
                    reader.readAsArrayBuffer(fileData);
                    reader.onload = function () {
                        let binaryString = '';
                        var arrayBuffer = reader.result;
                        var bytes = new Uint8Array(arrayBuffer);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            binaryString += String.fromCharCode(bytes[i]);
                        }
                        resolve(window.btoa(binaryString));
                    }
                }
            }
            // Eventlistener for file input.
            input.addEventListener('change', openfile, false);
        }(document));

        function successNotification(msg) {
            toastr.options.progressBar = true;
            toastr.options.positionClass = "toast-top-center";
            toastr.options.extendedTimeOut = "10000";
            toastr.success(msg, 'Success!');
        }
        function failureNotification(msg) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error(msg);
        }

        $('#btnuploadInvoice').click(function NewInvoice() {
            $("#uploadModal").modal("show");
            $('#txtUploadInvoiceNo').val('');
            $('#hdnFileByte').val('');
            $('input[type=file]').val('');
            $('#txtUploadComments').val('');
        });
        $('#customizeInvoice').click(function CustomizeInvoice() {
            $("#customizeColumns").modal("show");
        });
        $('#edit').click(function CustomizeInvoice() {
            $("#editInvoice").modal("show");
        });

        $('#UpdateInvoice').click(function SaveUser() {

            var lineItems = [];

            $("#tblProducts tbody tr").each(function (index, element) {

                // store each td for each iterated rows
                var tds = $(this).find('td');
                // .eq(1) is a zero-based, then start with 1 for column no 2
                var desc = tds.eq(0);
                var qty = tds.eq(1);
                var unitprc = tds.eq(2);
                var ttlprc = tds.eq(3);
                var obj = {};

                // here continue populate data into object or else
                obj.InvoiceRequestId = $('#hdninvId').val();
                obj.Description = desc.text();
                obj.Quantity = qty.text();
                obj.UnitPrice = unitprc.text();
                obj.TotalPrice = ttlprc.text();
                // push onto 
                lineItems.push(obj);

            });
            var standardfields = {
                'action': "Update",
                'InvoiceId': $('#hdninvId').val(),
                'VendorName': $('#txtVendorName').val(),
                'VendorNumber': $('#txtVendorNumber').val(),
                'InvoiceNumber': $('#txtInvoiceNumber').val(),
                'InvoiceDate': $('#txtInvoiceDate').val() == '' ? null : $('#txtInvoiceDate').val(),
                'Tax': $('#txtTotalTax').val() == '' ? null : $('#txtTotalTax').val(),
                'TotalAmount': $('#txtTotalAmount').val() == '' ? null : $('#txtTotalAmount').val(),
                'PoNumber': $('#txtPONumber').val(),
                'ShipTo': $('#txtShipAddress').val(),
                'BillTo': $('#txtBillToAddress').val(),
                'RemitTo': $('#txtRemitToAddress').val(),
                'Currency': $('#ddlCurrency').val(),
                'InvoiceType': $('#ddlCRDR').val(),
                'Comments': $('#txtComments').val(),
                'Status': $('#ddlstatus').val(),
                'RowVersion': $('#hdnrowVersionId').val(),
                'invoiceLineItemDTO': lineItems

            };            

            $.ajax({
                type: 'POST',
                url: "https://localhost:44311/api/ManageInvoice/UpdateInvoice",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(standardfields),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        successNotification("Invoice updated successfully!!!");
                        $("#editInvoice").modal("hide");
                        $('#manageTable').DataTable().ajax.reload();
                    } else {
                        failureNotification(resultData.resultSetErrors[0].errorMessage);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                    failureNotification(xhr.responseText);

                }
            });
        });


        $('#btnUpload').click(function UploadFile() {

            makeAjaxforupload();
        });

        $('#manageTable').DataTable({
            responsive: true,
            stateSave: true,
            initComplete: function () {
                var table = this.api();

                // Add filtering
                table.columns().every(function () {
                    var that = this;

                    // Create the `select` element
                    var input = $('<input type="text" />')
                        .on("keyup", function () {
                            that.search($(this).val()).draw();
                        });

                    // Restore state saved values
                    var state = this.state.loaded();
                    if (state) {
                        var val = state.columns[this.index()];
                        input.val(val.search.search);
                    }

                });
            },
            orderCellsTop: true,
            fixedHeader: true,
            dom: "Bfrtip",
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],
            buttons: [

                'pageLength',
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed three-column',
                    columnText: function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    }
                },
                //{ extend: 'copyHtml5', footer: true },
                //{
                //    text: 'Export Excel',
                //    extend: 'excelHtml5',
                //    autoFilter: true,
                //    sheetName: 'Manage Invices',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                //    },
                //    footer: true
                //},

                //{
                //    text: 'Export CSV',
                //    extend: 'csvHtml5',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                //    },
                //    footer: true

                //},
                //{ extend: 'pdfHtml5', footer: true }
            ],
            "stateSave": true,
            "autoWidth": true,
            "scrollX": true,
            // ServerSide Setups

            "serverSide": true,
            // Paging Setups
            "paging": true,
            // Searching Setups
            "searching": { regex: true },
            // Ajax Filter
            // "scrollY": '50vh',
            "scrollCollapse": true,


            "select": "multi",
            "order": [[0, "desc"]],
            "processing": true, // for show progress bar
            "pagingType": "full_numbers",
            "filter": true, // this is for disable filter (search box)
                "ajax": {
                    type: 'POST',
                    url: "https://localhost:44311/api/ManageInvoice/SearchManageInvoice",
                    contentType: 'application/json',
                    headers: {
                        "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                    },
                    dataType: "json",
                    data: function (d) {

                        return JSON.stringify(d);
                    },
                    dataSrc: function (settings) {
                        // Here the response
                        response = settings.data;
                        return response;
                    }

                },
                //"drawCallback": function (settings) {
                //    // Here the response
                //    response = settings.json.results;
                //    return response;
                //},
                "columns": [
                    { "data": "InvoiceId", "name": "InvoiceId" },
                    { "data": "InvoiceNumber", "name": "InvoiceNumber" },
                    { "data": "InvoiceDate", "name": "InvoiceDate", width: "80px" },
                    { "data": "VendorName", "name": "VendorName" },
                    { "data": "Source", "name": "Source" },
                    { "data": "BatchName", "name": "BatchName" },
                    { "data": "Status", "name": "Status" },
                    { "data": "ReceivedDate", "name": "ReceivedDate" },
                    { "data": "LastModifiedDate", "name": "LastModifiedDate" },
                    {
                        "render": function (data, type, full, meta) {
                            var result = "<button type='button' class='btn btn-default' onclick='" + "EditInvoice(" + '"' + full.InvoiceId + '"' + ")" + "' width='15' height='15' style='background: #396EB8'><img src='/image/edit.svg' width='15' height='15' /></button> <button type='button' class='btn btn-default' onclick='" + "DownloadInvoice(" + '"' + full.InvoiceId + '"' + ")" + "' width='15' height='15' style='background: #396EB8'><img src='/image/13_Download.svg' width='15' height='15' /></button>";
                            return result;
                        },
                        orderable: false,
                        width: "120px"
                    }
                ]
        });

        function makeAjaxforupload() {

            var standardfields = {
                'invoiceNumber': $('#txtUploadInvoiceNo').val(),
                'fileContent': $('#hdnFileByte').val(),
                'fileName': $('input[type=file]').val().split('\\').pop(),
                'comments': $('#txtUploadComments').val()
            };
             $.ajax({
                type: 'POST',
                url: "https://localhost:44311/api/InvoiceUpload/UploadInvoice",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: JSON.stringify(standardfields),
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {
                        successNotification("Invoice uploaded successfully!!!");
                        $("#uploadModal").modal("hide");
                        $('#manageTable').DataTable().ajax.reload();
                    } else {
                        failureNotification(resultData.resultSetErrors[0].errorMessage);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                    failureNotification(xhr.responseText);

                }
            });
        }

        function formate(date) {
            if (date == null)
                return null;
            if (typeof date == "string")
                date = new Date(date);
            var day = (date.getDate() <= 9 ? "0" + date.getDate() : date.getDate());
            var month = (date.getMonth() + 1 <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1));
            var dateString = date.getFullYear() + "-" + month + "-" + day;
            return dateString;
        }

        function EditInvoice(id) {

            $.ajax({
                type: 'GET',
                url: "https://localhost:44311/api/ManageInvoice/GetInvoiceDateById",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    "Authorization": 'Bearer ' + '@ViewData["authToken"]',
                },
                data: { 'invoiceId': id },
                dataType: "json",
                success: function (resultData) {
                    if (resultData.isValid) {

                        $("#objBindpdfId").attr('data', null);
                        $("#editInvoice").modal("show");
                        //$("#updateUser").prop('value', resultData.results[0].id);
                        //bindTenantdropdown();
                        $("#txtVendorName").val(resultData.results[0].invoiceDataResponseDTO.vendorName);
                        $("#txtVendorNumber").val(resultData.results[0].invoiceDataResponseDTO.vendorNumber);
                        $("#txtInvoiceNumber").val(resultData.results[0].invoiceDataResponseDTO.invoiceNumber);
                        $("#txtInvoiceDate").val(formate(resultData.results[0].invoiceDataResponseDTO.invoiceDate));
                        $("#txtTotalAmount").val(resultData.results[0].invoiceDataResponseDTO.totalAmount);
                        $("#txtTotalTax").val(resultData.results[0].invoiceDataResponseDTO.totalTax);
                        $('select[id^="ddlCurrency"] option[value="' + resultData.results[0].invoiceDataResponseDTO.currency + '"]').attr("selected", "selected");
                        $('select[id^="ddlCRDR"] option[value="' + resultData.results[0].invoiceDataResponseDTO.crdrNotes + '"]').attr("selected", "selected");
                        $("#txtPONumber").val(resultData.results[0].invoiceDataResponseDTO.poNumber);
                        $("#txtShipAddress").val(resultData.results[0].invoiceDataResponseDTO.shipTo);
                        $("#txtRemitToAddress").val(resultData.results[0].invoiceDataResponseDTO.billTo);
                        $("#txtBillToAddress").val(resultData.results[0].invoiceDataResponseDTO.remitTo);
                        $("#txtComments").val(resultData.results[0].invoiceDataResponseDTO.comments);
                        $("#hdninvId").val(resultData.results[0].invoiceDataResponseDTO.invoiceId);
                        $("#hdnrowVersionId").val(resultData.results[0].invoiceDataResponseDTO.rowVersion);
                        var arrrayBuffer = base64ToArrayBuffer(resultData.results[0].invoiceDataResponseDTO.fileContent);
                        if (resultData.results[0].invoiceDataResponseDTO.fileContent != null) {
                            var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
                            var link = window.URL.createObjectURL(blob);
                            var object = document.getElementById("objBindpdfId");
                            object.setAttribute('data', link);
                            var clone = object.cloneNode(true);
                            var parent = object.parentNode;
                            parent.removeChild(object);
                            parent.appendChild(clone);
                        } else {
                            var object = document.getElementById("objBindpdfId");
                            object.setAttribute('data', null);
                            var clone = object.cloneNode(true);
                            var parent = object.parentNode;
                            parent.removeChild(object);
                            parent.appendChild(clone);
                        }
                        $("#ddlstatus").empty();
                        $.each(resultData.results[0].invoiceDataResponseDTO.nextStatus, function (key, value) {
                            $("#ddlstatus").append($("<option></option>").val(value.statusId).html(value.statusName));
                        });
                        //var object1 = document.getElementById("tblProducts").getElementsByTagName("TBODY")[0];
                        //var clone1 = object1.cloneNode(true);
                        //var parent1 = object1.parentNode;
                        //parent1.removeChild(object1);
                        //parent1.appendChild(clone1);
                        $("#tblProducts > tbody").empty();
                        $.each(resultData.results[0].invoiceLineItemDTO, function (k, v) {
                            $('#tblProducts').find('tbody')
                                .append('<tr><td>' + v.description + '</td><td>' + v.quantity + '</td><td>' + v.unitPrice + '</td><td>' + v.totalPrice + '</td><td><input type="button" onclick="Remove(this);" value=" - "/></td></tr>');
                        });


                        //$('select[id^="ddlstatus"] option[value="' + resultData.results[0].invoiceDataResponseDTO.detailedStatus.statusId + '"]').attr("selected", "selected");
                        //$("#updateLastName").val(resultData.results[0].lastName);
                        //$("#updateEmail").val(resultData.results[0].email);

                        //if (resultData.results[0].roleName == 'Admin') {
                        //    $('select[id^="ddlupdateRole"] option[value="1"]').attr("selected", "selected");
                        //} else if (resultData.results[0].roleName == 'Operator') {
                        //    $('select[id^="ddlupdateRole"] option[value="2"]').attr("selected", "selected");
                        //}else if (resultData.results[0].roleName == 'Auditor') {
                        //    $('select[id^="ddlupdateRole"] option[value="3"]').attr("selected", "selected");
                        //}

                        //$("#ddlupdateTenant").text(resultData.results[0].tenantName);
                        //$("#isActive").attr('checked', resultData.results[0].isActive);
                    }
                    else {
                        failureNotification("Error occurred while opening record..");
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText + "--" + status + "--" + error);
                }
            });

        };

        function changeData(newURL) {
            if (!document.getElementById("objBindpdfId"))
                return false;
            document.getElementById("objBindpdfId").setAttribute('data', newURL);
        }

        $("#filters :checkbox").click(function () {
            $("div").hide();
            $("#filters :checkbox:checked").each(function () {
                $("." + $(this).val()).show();
            });
        });

        $(function () {
            $(":checkbox").change(function () {
                var arr = $(":checkbox:checked").map(function () {
                    return $(this).next().html();
                }).get();
                $("#myDiv").html(arr.join('<br/> '));

            });
        });

        function ToggleBGColour(item) {
            var td = $(item).parent();
            if (td.is('.rowSelected'))
                td.removeClass("rowSelected");
            else
                td.addClass("rowSelected");
        }


        jQuery('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var step = jQuery(e.target).data('step');
            var percent = (parseInt(step) / 3) * 100;
            jQuery('.progress-bar').css({ width: percent + '%' });
            jQuery('.progress-bar').text("Step " + step + " of 3");
        });

        function handleDroppedFile(evt) {
            evt.preventDefault();
            // since we use jQuery we need to grab the originalEvent
            var dT = evt.originalEvent.dataTransfer;
            var files = dT.files;
            if (files && files.length) {
                // we set our input's 'files' property
                $('#image-event')[0].files = files;
            }
        }

        $('#image-event-label').on({
            'drop': handleDroppedFile,
            'dragenter': function (e) { e.preventDefault(); },
            'dragover': function (e) {
                e.preventDefault();
                this.classList.add('dragged-over');
            }
        })
            .on('dragleave dragexit', function () {
                this.classList.remove('dragged-over')
            });



    </script>
}